@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

*{
	padding:0;
	margin:0;
	outline:none;
	font-size: 16px;
}
body{
/*	background-color:red;
*/
}
#interface{
	width: 400px;
	border: 1px solid #d9d9d9;
	height:420px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items:center;

}




/*FORM*/
#formu{
	width: 190px;
	/*border: 1px solid #d9d9;*/
	margin: 0 auto;
	padding: 10px;
	height: 400px;

}
#formu h2{
	font-family: "Oswald";
	/*font-weight: bold;*/
	font-weight: bold;
	/*text-decoration: underline;*/
	padding: 10px;
	text-align: center;
	font-size: 1.3em;

}
.titulo,#btn{
	display: block;
	font-family: "Oswald";
	font-size: 1.5em;
}
.campo{
	width: 180px;
	height: 40px;
	font-family: "Oswald";
	text-indent: 5px;
}
#btn{
	margin-top: 20px;
	width: 182px;
	border:none;
	padding: 5px;
	border: 1px solid #d9d9d9;
	font-family: "Oswald";
	cursor: pointer;
	background: #f9f9f9;
}
.campo:focus{
	border: 1px solid #09f;
	height: 42px;
	width: 182px;
}
#btn:hover{
	background: rgba(0,0,0,.9);
	color: #fefefe;
	border: 1px solid rgba(0,0,0,.9);
	transition: all linear .6s;
}
#msg{
	font-family: "Oswald";
	font-size: 1.5em;
}


/*TABELA*/
#tabela{
	/*border: 1px solid #d9d9d9;*/
	font-family: "Oswald";
	width: 100px;
	margin: 0 auto;
	text-align: center;
	border: 1px solid #d9d9d9;
	margin-top: 10px;	
}

th{
	font-size: 25px;
	padding: 5px;
	border: 1px solid #d9d9d9;
	background: #d9d9d9;
}
.td-titulo{
	border: 1px solid #d9d9d9;
	padding: 10px;
}
.bordas{
	border: 1px solid #d9d9d9;
}
.invalido{
	color: red;
	font-weight: bold;
}
.nivel_1{
	background: #FFFF00; 
	font-weight: bold;

}
.nivel_2{
	background: green; 
	font-weight: bold;

}
.nivel_3{
	background: #F9BF8F;
	font-weight: bold;

}
.nivel_4{
	background: #FF9B09;
	font-weight: bold;
}
.nivel_5{
	background: #FF3737;
	font-weight: bold;
}
.nivel_6{
	background: #FF3737;
	font-weight: bold;

}
